
node_modules/


/dist
/build
/out


npm-debug.log*
pnpm-debug.log*
*.log


coverage/

.env
.env.*
.env.local
.env.*.local

*.pem
*.crt
*.key


.DS_Store

Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln